@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#poster {
    width: 7.5rem;
    background-color: red;
    transition: transform 450ms;
}

#main-title {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    justify-content: center;
    display: flex;
    font-size: 4rem;
}

#poster:hover {
    transform: scale(1.08)
}

.container-app {
    padding-left: 1rem;
}

.moviesGenre {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 1rem;
}

.moviesGenre::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #100C08;
}

.title {
    color: #fff;
    display: flex;
    justify-content: left;
    margin-top: 5rem;
    font-family: 'Open Sans', sans-serif;
}