@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.poster {
    width: 7.5rem;
    transition: transform 450ms;
}

.poster:hover {
    transform: scale(1.08)
}

#main-title {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    justify-content: center;
    display: flex;
    font-size: 4rem;
}

.title {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    cursor: default;
    text-align: justify;
}

.container-app {
    padding-left: 1rem;
}

.moviesGenre {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 1rem;
}

.moviesGenre::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #100C08;
}

.title-category {
    color: #fff;
    display: flex;
    justify-content: left;
    margin-top: 5rem;
    font-family: 'Open Sans', sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.image-modal {
    width: 10rem;
    float: center;
}

.modal-content {
    background-color: #111111;
    margin: auto;
    padding: 2rem;
    width: 50rem;
    border-radius: 0.3rem;   
}

.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.modal-close:hover,
.modal-close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}